


body{font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
#button{background-color: greenyellow; 
border-radius: 10px;
font-family: unset;
color: honeydew;
border: greenyellow 5px solid;
}
a{text-decoration: none;}

.color{color: lime;
font-size: xx-large;
}
#color{color: greenyellow;} 
#small{ color: gray;
font-size: small;}

.big{font-size: xx-large;}

img{border-radius: 5%;}

.half-width{position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    }








.full-width{position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
}





    .font{ position: relative;
      transform: translate(-50%,-50%);
      left: 89%;
      margin: 0;
      padding: 0;
  }
 
ul li{list-style: none;}
  ul li a{  width: 45px;
   height: 35px;
      color:grey;    
      height: 18px; width: 15px;
      border-radius: 50%;
      display: block;
      transition:0.5s;
      display: block;
      padding:20px;
      margin: 20px;

  }
  ul li a:hover{background-color: greenyellow
  